name: Give Strava Kudos Test 2

on:
    workflow_dispatch:

env:
  # NOTE: This is how GitHub Secrets are accessed and passed to the script
  # You must define MY_EMAIL and MY_PASSWORD secrets in your repository settings
  MY_EMAIL: ${{ secrets.MY_STRAVA_EMAIL }}
  MY_PASSWORD: ${{ secrets.MY_STRAVA_PASSWORD }}
    
jobs:
  myjob:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
            python-version: '3.x'
            cache: 'pip'
      - run: |
          # Install the Playwright Python library
          pip install playwright pytest asyncio
      
        # This step installs the necessary Chromium, Firefox, and WebKit browsers
      -  run: |
          playwright install chromium
      

      -  run: |
          # Execute the python script. 
          # The script will read the secrets from the environment variables above.
          python give_kudos_2.py
